Source: lot
Section: embedded
Priority: extraoptional
Maintainer: Hyeonki Hong <hhk7734@gmail.com>
Build-Depends: debhelper (>=9)
Standards-Version: 3.9.8
Homepage: https://github.com/loliot

Package: lot
Architecture: arm64 armhf
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: GPIO development library for SBC
