Source: lot-odroid-n2
Section: embedded
Priority: optional
Maintainer: Hyeonki Hong <hhk7734@gmail.com>
Build-Depends: debhelper (>=9)
Standards-Version: 3.9.8
Homepage: https://github.com/loliot/lot-odroid-n2

Package: lot-odroid-n2
Architecture: arm64 armhf
Section: libs
Depends: ${misc:Depends}, ${shlibs:Depends}, pkg-config
Description: GPIO development library for lot-odroid-n2
